# Use o Transaction pooler do Supabase para as consultas da aplicação.
DATABASE_URL="postgresql://postgres.usmztnhxgugtbrlavari:SUA_SENHA@aws-0-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Use o Session pooler do Supabase para migrations e db push.
DIRECT_URL="postgresql://postgres.usmztnhxgugtbrlavari:SUA_SENHA@aws-0-us-west-2.pooler.supabase.com:5432/postgres"
SESSION_SECRET="troque-por-uma-chave-com-pelo-menos-32-caracteres"
